<nav class="navbar dashboard-navbar">
  <div class="container-fluid navbar-flex">
    <a class="navbar-logo" href="#">
      <img src="../../../assets/images/MediLink-Logo.png" alt="MediLink">
    </a>
    <!-- <button class="sidebar-toggle-btn-navbar" (click)="toggleSidebar()">☰</button> -->
  </div>
</nav>

<div class="main-container">
  <div class="sidebar" [class.collapsed]="isCollapsed">
    <ul class="menu">
      <li><span class="icon">🏠</span><span class="menu-text">Add Doctor</span></li>
      <li><span class="icon">📄</span><span class="menu-text">Add Lab Assistant</span></li>
      <li><span class="icon">⚙️</span><span class="menu-text">Settings</span></li>
    </ul>
    <button class="sidebar-toggle-btn" (click)="toggleSidebar()">
    {{ isCollapsed ? '>' : '<' }}
  </button>
  </div>

  <div class="content">
    <table border="1px" cellspacing="0" cellpadding="5" style="width: 100%;">
      <thead>
        <tr>
          <th>Column 1</th>
          <th>Column 2</th>
          <th>Column 3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Data 1</td>
          <td>Data 2</td>
          <td>Data 3</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>